<!DOCTYPE html>
<html>
<head>
<title>{{ flatpage.title }}</title>
</head>
<body>

     {% include 'flatpages/default.html' %}

<!-- Page content-->
        <div class="container">
            <div class="row">




               <style>
.verse {
  display: table;
  margin: 0 auto;
  white-space: pre-line;
  word-wrap: break-word;
}
</style>
                <div class="verse">
                    {% block content %}
                    {{ flatpage.content }}<br><br><hr>
                    {{ flatpage.content }}
                    {% endblock content %}
                </div>
           </div>
        </div>
</body>
</html>